<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.1" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net452" />
  <package id="MaterialDesign.dll" version="1.0.0" targetFramework="net452" />
  <package id="MaterialDesignAddon" version="1.0.3" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net452" />
  <package id="MaterialDesignExtensions" version="3.0.0" targetFramework="net452" />
  <package id="material-design-lite" version="1.1.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="3.0.1" targetFramework="net452" />
  <package id="MaterialDesignThemes.MahApps.163" version="0.0.111" targetFramework="net452" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net452" />
</packages>